// Variables 

// Colours
$primary: #DF0000;
$success: #4cd3e3;
$info: #38a4ff;
$warning: #f4e700;
$danger: #FF0000;
$link: #f9f9ff;
$text-color: #fff;
$white: #fff;
$offwhite: #f9f9ff;
$black: #000;
$color-1: #87CEEB;
$color-2: #A59BB1;
$color-3: #C36776;
$color-4: #E1343B;
$color-5: #FF0000;
$color-6: #800000;
$color-7: #400000;
$color-8: #000000;
$color-9: #171717;
$color-10: #2C2C2C;

// BreakPoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;